body {
  background: rgb(255, 164, 53);
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
}

a {
  text-align: center;
}

.row {
  justify-content: space-around;
}

.paragraph {
  text-align: center;
}
